#side-bar {
    width: 200px;
    height: calc(100% - 50px);
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: blueviolet;
    z-index: -1;
}

.side-bar-item {
    position: relative;
    display: block;
    background-color: cadetblue;
    margin: 10px;
}

.hidden {
    display: none;
}